*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
html {
  height: 100%;
}


body {
  margin: 0;
  height: 100%;
  text-align: center;
  color: #4b4b4b;
  font-family: Menlo, 'Courier New', Courier, monospace;
  font-size: 1rem;
}


#main {
  height: 100%;
  margin: auto;
  width: 620px;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center
}

#content img {
  width: 65%;
  height: auto;
}

p {
  margin: 0;
  padding: 0;
  
}
p.icons {
  font-size: 3rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}
.fab {
  margin: 0.5rem;
}

a { 
  color: #336699;
  text-decoration: underline;
}
